
body
{
        padding: 20px 20px;
}

p
{
        margin: 10px 0;
}

ul
{
        list-style-type: disc;
}

li
{
        font-size: 20px;
        line-height: 45px;
}

.Lesson-Title
{
        text-align: left;
        font-size: xx-large;
        font-weight: bolder;
}

.Lesson
{
        background-color: lime;
        border-radius: 20px;
        color: black;
        padding: 10px;
        margin: 10px auto;
}

.Description
{
        background-color: #e6ffe6;
	padding: 10px;
	margin: 10px;
	border-radius: 10px;
	color: black;
}

h1
{
        color: #663399;
        font-size: 70px;
        text-align: center;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2
{
        color: #663399;
        font-size: 70px;
        text-align: center;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h3
{
        color: #663399;
        font-size: 50px;
        text-align: center;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h4
{
        color: #663399;
        font-size: 40px;
        text-align: center;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        margin: 8px;
}

img
{
        display: block;
        margin: auto;
        max-width: 75%;
        height: auto;
}

*
{
        box-sizing: border-box;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} 